body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body > div{
    border: 2px solid black;
    background-color: lightgreen;
    width: 600px;
    height: 300px;
    margin:auto;
    padding: 10px;
}

.filhos{
    background-color: coral;
    border: 1px solid black;
    margin: 5px;
}

.filhos_1{display: block;}

.filhos_2{display: inline;}

.filhos_3{
    display: inline-block;
    width: 150px;
    height: 60px;
}

.filhos_4{display: none;}