body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body > div{
    border: 3px solid black;
    background-color: lightgreen;
    width: 400px;
    height: 400px;
    margin: 40px auto;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; 
    /*relembrar box-sizing*/
    justify-content: center;
    align-content:center;
}

.filhas{
    width: 85px;
    height: 85px;
    border: 1px solid black;
    background-color: lightsalmon;
    padding: 5px;
}

#div_1{row-gap: 20px;}

#div_2{ column-gap: 20px;}

#div_3{ gap: 20px;}