body{
    font-family: Arial, Helvetica, sans-serif;
}

.aqua{
    background-color: aquamarine;
}

.violeta{
    background-color: rebeccapurple;
    color: violet;
    text-align: center;
}

.coral{
    background-color: coral;
    text-align: right;
}