@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    text-align: center;
}

div{
    width: 500px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 15px;
    font-size: 32px;
    font-family: "Inter";
}

.verde{
    background-color: lightgreen;
}

.azul{
    background-color: lightblue;
}

.pink{
    background-color: palevioletred;
}

#div_1{
    font-weight:100;
}

#div_2{
    font-weight:200;
}

#div_3{
    font-weight:300;
}

#div_4{
    font-weight:400;
}

#div_5{
    font-weight:500;
}

#div_6{
    font-weight:600;
}

#div_7{
    font-weight:700;
}

#div_8{
    font-weight:800;
}

#div_9{
    font-weight:900;
}

#div_10{
    font-style:normal;
}

#div_11{
    font-style:italic;
}

#div_12{
    font-style:oblique 14deg;
}

#div_13{
    text-transform:none;
}

#div_14{
    text-transform:lowercase;
}

#div_15{
    text-transform:uppercase;
}

#div_16{
    text-transform:capitalize;
}