body{
    text-align: center;
}

button{
    margin: 0px 20px ;
}

.default{
    cursor: default;
}

/*.default:hover{
    background-color: violet;
}*/

.pointer{
    cursor: pointer;
}

.wait{
    cursor: wait;
}

.grab{
    cursor: grab;
}

.grabbring{
    cursor: grabbing;
}

.crosshair{
    cursor: crosshair;
}

.zoom-in{
    cursor: zoom-in;
}

.zoom-out{
    cursor: zoom-out;
}


.all-scroll{
    cursor: all-scroll;
}

.cell{
    cursor: cell;
}

.copy{
    cursor: copy;
}

.help{
    cursor: help;
}

.progress{
    cursor: progress;
}

.cores{
    border: 2px dashed black;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
}

#vermelho{
    background-color: red;
}

#verde{
    background-color: green;
}

#azul{
    background-color: blue;
}