body{
    background-image: url("lisboa_01.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    color: red;
}

p{
    border: 10px double black;
    color: yellow;
    text-align: justify;
}