h1{
    text-align: center;
}

div{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.pai{
    background-color: lightgreen;
    margin: auto;
    width: 500px;
    border: 3px solid black;
}

#pai_1 > div{
    background-color: red;
}

#pai_2 div{
    background-color: red;
}

#pai_3 > div > button{
    background-color: red;
}

#pai_4 > div > div > button{
    background-color: red;
}

#pai_5  button{
    background-color: red;
}

#pai_6 *{
    background-color: red;
}