body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h3{text-align: center;}

div{
    border: 2px solid black;
    background-color: lightgreen;
    width: 200px;
    margin: 100px auto;
    padding: 15px;
}

#div_1{
    transform: rotate(45deg);
}

#div_2{
    transform: rotate(0.1225turn);
}

#div_3{
    transform: translate(400px, -100px);
}

#div_4{
    transform: scale(50%);
}

#div_5{
    transform: scale(200%);
}

#div_6{
    transform: skew(45deg, 0deg);
}

#div_7{
    transition-duration: 1000ms;
}

#div_7:hover{
    transform: rotate(45deg) scale(150%);
    background-color: lightblue;
    outline: 5px solid orangered;
    outline-offset: 3px;
}

#div_7 p:hover{
    transition-duration: 1000ms;
}

#div_7 p:hover{
    transform: rotate(-180deg);
    color: white;
    text-shadow: 10px 10px 10px black;
}